<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint
			  address="https://quote.rbc.ru"
			  binding="webHttpBinding"
			  bindingConfiguration="VK_Binding"
			  behaviorConfiguration="VK_Behaviour"
			  contract="WindowsFormsApp1.VK_API"
			  name="VK_ENDPOINT"
      />
		</client>

		<bindings>
			<webHttpBinding>
				<binding name="VK_Binding" maxReceivedMessageSize="400000">
					
					<security mode="Transport">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</webHttpBinding>
		</bindings>

		<behaviors>
			<endpointBehaviors>
				<behavior name="VK_Behaviour">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>

	</system.serviceModel>
</configuration>