<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="WindowsFormsApp1_MyYandexSpeller_SpellService"
                serializeAs="String">
                <value>http://speller.yandex.net/services/spellservice</value>
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </applicationSettings>
  
  
  <system.serviceModel>
    <client>
    <endpoint 
      address="https://api.vk.com/"
      binding="webHttpBinding"
      bindingConfiguration="VK_Binding"
      behaviorConfiguration="VK_Behaviour"
      contract="WindowsFormsApp1.VK_API"
      name="VK_ENDPOINT"
      />
    </client>
    
    <bindings>
      <webHttpBinding>
        <binding name="VK_Binding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="VK_Behaviour">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>
  
  
</configuration>